.table {
  height: 400px;
  margin-top: 20px;
  overflow-y: scroll;
  color: #6a5d5d;
}

/* .table::-webkit-scrollbar {
  display: none;
} */

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background: #f3f2f8;
}

.table tr:hover {
  background: #eee;
}