* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;

  padding: 20px;
  gap: 20px;
}

.app__left {
  flex: 0.9;
}

/* .app__right {} */

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background: #fff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
